name: Count by account

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  github:
    runs-on: ubuntu-latest
    container: ubuntu:latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - run: |
          curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | dd of=/usr/share/keyrings/githubcli-archive-keyring.gpg
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | tee /etc/apt/sources.list.d/github-cli.list > /dev/null
          apt update
          apt-get install -y gh ca-certificates
      - run: >
          grep '](https://github.com' README.md [a-z]*.md | sed -re 's/^.*\]\(https:\/\/github.com\/([^\)]*).*/\1/' | xargs -I {} dirname {} | sort | uniq -c | sort -n -r
        env:
          GH_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
